<a href="https://colab.research.google.com/github/patrick-cannon/ml-for-health-data/blob/main/Assignment_02_Patrick_Cannon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1. Assign a = 10 and b = 20. Print the result for (a + b)2 / (a - b).

In [ ]:
# assign a = 10 and b = 20 and print formula
a = 10
b = 20

print((a + b) ** 2 / (a - b))

### 2. Implement the following tasks concerning a string variable.

In [ ]:
# (1) define original string
s = "What you are you do not see, what you see is your shadow."

# (2) find number of characters in s
len(s)

In [ ]:
# (3) test if s starts with "What"
s.startswith("What")

# (4) test if s ends with "shadow"
s.endswith("shadow.")

In [ ]:
# (5) find substring "see" in s
s.find("see")

In [ ]:
# (6) based on s, return a new string with all occurrences of "you"
# replaced with "I", "your" replaced with "my", and "are" replaced with "am"
s.replace("are", "am").replace("your", "my").replace("you", "I")

In [ ]:
# (7) Split s into a list of strings by white space.
s.split(' ')

In [ ]:
# (8) Turn s to all upper case.
print(s.upper())

# (9) Turn s to all lower case.
print(s.lower())

# (10) Count the number of character 'y' in s.
s.count('y')

# (11) Remove any leading (at the beginning)
# and trailing (at the end) white space in s.
s.strip()

### 3. Implement the following tasks concerning numeric types.

In [ ]:
# (1) Convert string "-100" to integer 100 and assign the result to i.
i = int("-100")
i

In [ ]:
# (2) Convert string "3.25" to float value 3.25 and assign the result to f.
f = float("3.25")
f

### 4. Implement the following tasks concerning list:

In [ ]:
# (1) Reverse the list: l = [-1, 2, 3, 5, 10] so that l = [10, 5, 3, 2, -1].
l = [-1, 2, 3, 5, 10]
l.reverse()
l

In [ ]:
# (2) Given a list of numbers: l = [-2, 4, 5, 9, -100].
# Turn every item of a list into its square.
l = [-2, 4, 5, 9, -100]
l_new = [i ** 2 for i in l]
l_new

In [ ]:
# (3) l = [1, 2, [-300, -100, [1000, 200], 400], 3, -40].
# Use append() to add -5000 to the list so that:
# l = [1, 2, [-300, -100, [1000, 200, -5000], 400], 3, -40].
l = [1, 2, [-300, -100, [1000, 200], 400], 3, -40]
l[2][2].append(-5000)
l

In [ ]:
# (4) l = ["To", "be", "or", "not", "to", "be"].
# Use join() to convert the list to a string "To be or not to be".
l = ["To", "be", "or", "not", "to", "be"]
' '.join(l)

In [ ]:
# (5) number_list = [1, 2, 3], str_list = ['one', 'two', 'three'].
# Use zip() to create a list: [(1, 'one'), (2, 'two'), (3, 'three')].
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']
zip_list = zip(number_list, str_list)
list(zip_list)

In [ ]:
# (6) use list comprehension and range()
# to create the list: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
l = list(range(10))
l = [2 * i for i in l]
l

### 5. Implement the following tasks concerning dictionary:

In [ ]:
# (1) Write a Python script to print a dictionary where the keys are numbers
# between 1 and 10 (both included) and the values are the squares of keys.
# (Hint: use a for loop that loops through an initially empty dictionary).
d = {}
for i in range(1, 11): # create value and add to key at d[key]
  x = i ** 2
  d[i] = x

print(d)

In [ ]:
# (2) Convert the two lists into a dictionary:
# keys = ['One', 'Two', 'Three'], values = [1, 2, 3].
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

d = {keys[i]: values[i] for i in range(len(keys))}
print(d)

### 6. Write a Python function to sum up all the numbers in a list.

In [ ]:
# initialize list
l = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
def listSum(list):
  result = sum(list)
  return result

print(listSum(l))

### 7. Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters. For example, a sample string could be: 'To be or not to be'. The expected outputs are: Number of upper case characters: 1; Number of lower case characters: 12.

In [ ]:
def upper_or_lower(string):
  ucount = 0
  lcount = 0

  for i in string:
    if i.isupper():
      ucount += 1
    elif i.islower():
      lcount += 1
  return 'Number of upper case characters: {}; Number of lowercase characters: {}'.format(ucount, lcount)

test = upper_or_lower('To be or not to be')
print(test)

### 8. Suppose the passing grade of a subject is 60. Take input of a grade from the user. If the grade is greater than or equal to the passing grade, print 'Congratulations! You have passed the course.' Otherwise, print 'Sorry, you did not pass the course.' (Hint: look for the input() function and if/else statement.)

In [ ]:
score = int(input())
if score >= 60:
  print('Congratulations! You have passed the course.')
else:
  print('Sorry, you did not pass the course.')

### 9. Write a Python program to find those numbers divisible by both 11 and 7, between 100 and 3000 (both included). (Hint: use a for loop and an if statement.)

In [ ]:
def divisibleBy(starting, ending):
  numbers = []
  for i in range(starting, ending+1):
    if (i % 7 == 0) & (i % 11 == 0):
      numbers.append(i)
  return numbers

divisibleBy(100, 3000)

### 10. Use a while loop and an if statement to define a function named 'fruit_namer' which appends all the elements in a list to a new list unless the element is an empty string: "". l = ["Apple", "Banana", "Orange", "Pear", "", "Grape", "", "Blackberry", "Papaya"]

In [ ]:
l = ["Apple", "Banana", "Orange", "Pear", "", "Grape", "", "Blackberry", "Papaya"]

def fruit_namer(list):
  new_list = []
  i = 0
  length = len(list)

  while i < length:
    if list[i] != "":
      new_list.append(list[i])
      i = i + 1
    else:
      i = i + 1

  return new_list

fruit_namer(l)

['Apple', 'Banana', 'Orange', 'Pear', 'Grape', 'Blackberry', 'Papaya']